.profile{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: #1DF13F;
    border: none;
    cursor: pointer;
    border-radius: 0.5vw;
    width: 5vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
}

.buttonImg{
    height: 2vw;
    width: 2vw;
    object-fit: cover;
    filter: brightness(0) invert(1);
}